<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="boxTitle"> 
        <h1>Signup!</h1>
        <span (click)='cleanError()'  class="error">{{error}}</span>
      </div>
        <input type="text" [(ngModel)]="newUser.firstName"  class="fadeIn second" placeholder="nome">
        <input type="text" [(ngModel)]="newUser.lastName" id="lastName" class="fadeIn second" name="lastName" placeholder="sobrenome">
        <input type="text" [(ngModel)]="newUser.email" id="email" class="fadeIn second" name="email" placeholder="email">
        <input type="password" [(ngModel)]="newUser.password" id="password" class="fadeIn second" name="password" placeholder="senha">
        <input type="button" class="fadeIn fourth" value="Log In"  (click)="save()">
      <div id="formFooter">
        <a routerLink='/signin'>signin</a>
      </div>
    </div>
  </div>